.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Card {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  width: 300px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  background-color: grey;
  text-align: left;
  cursor: pointer;
}

.CardPop {
  margin-left: 20px;
  padding: 20px;
  width: 300px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  background-color: grey;
  text-align: left;
}

.selected {
  font-weight: bold;
  color: darkkhaki;
}

.footer {
  background-color: #e9edf1;
  color: black;
  width: 100%;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid rgb(5, 4, 4);
  background: lightgray;
  overflow: auto;
  border-radius: 4px;
  outline: black;
  padding: 20px;
  width: 50%;
  height: 100%;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  --background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
}

button.right1 {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
}

button.right1:hover {
  opacity: 1;
}

table.tab {
  border: 2px solid black;
  min-width: 100%;
}
tbody.tab {
  border: 2px solid black;
  min-width: 100%;
}
th.tab {
  border: 2px solid black;
  min-width: 100%;
}
tr.tab {
  border: 2px solid black;
  min-width: 100%;
}
td.tab {
  border: 2px solid black;
  min-width: 100%;
}
